@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;700&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');

body {
  font-family: 'Source Serif 4', serif;
  font-weight: 300;
  color: white;
  margin: 0;
  margin-bottom: 10em;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(70deg,rgba(0, 0, 100, 0.5), rgba(0, 0, 110, 0.6), rgba(0, 0, 120, .7)),
  url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#survey-form{
  background-color: rgba(0,0,0,85%);
  margin: 0 20%;
  border-radius: .4em;
  padding: 1em;
}

h1 {
  margin-top: 1.5em;
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-weight: 700;
}

#description {
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-weight: 300;
  margin: 1.4em;
}

.radio,
.checkbox {
  display: inline-block;
}

label {
  display: flex;
  margin-bottom: 0.2rem;;
}

input,
button,
select,
textarea {
  font-family: 'Source Serif 4', serif;
  font-size: 'Source Serif 4', serif;
  line-height: 'Source Serif 4', serif;
  border: none;
}

#submit{
  cursor: pointer;
  background-color: rgba(150, 0, 140, 0.5);
  color: white;
  padding: 1.5%;
  width: 100%;
}

#dropdown, #name, #email, #number {
  width: 100%;
  display: block;
  height: 2em;
}

#comments{
  width: 100%;
}


div{
  margin: 1em;
}

